<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-4.3.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
    
    <context:annotation-config/>
    <context:component-scan base-package="finalProject"/>
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/labour_system" />
        <property name="username" value="root" />
        <property name="password" value="12345" />
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
<!--                <prop key="hibernate.current_session_context_class">thread</prop>-->
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>finalProject.model.User</value>
                <value>finalProject.model.Client</value>
                <value>finalProject.model.Admin</value>
                <value>finalProject.model.Request</value>
            </list>
        </property>
    </bean>
    
    <bean id="admin" class="finalProject.model.Admin">
        <constructor-arg type="java.lang.String" value="admin_name" />
        <constructor-arg type="java.lang.String" value="Login" />
        <constructor-arg type="java.lang.String" value="Password" />
    </bean>
    
    <bean id="clientDao" class="finalProject.dao.ClientDao" />
    <bean id="adminDao" class="finalProject.dao.AdminDao" />
    <bean id="requestDao" class="finalProject.dao.RequestDaoImpl" />
</beans>